<h1>События</h1>

<div class="row">
  <% @events.each do |ev| %>
    <div class="col d-flex flex-column">
      <h4><%= ev['title'] %></h4>

      <% unless ev['images'].blank? %>
        <% src = ev['images'].last['image'] %>
        <div>
          <%= image_tag src, size: '300' %>
        </div>
      <% end %>

      <p><%= sanitize ev['description'] %></p>
    </div>
  <% end %>
</div>
