<h1>Events</h1>

<% @events.each_with_index do |ev, i| %>
  <% if i % 4 == 0 %>
    <div class="row mb-5">
  <% end %>

  <div class="col-3">
    <h4><%= ev['title'] %></h4>
    <p><%= sanitize ev['description'] %></p>

    <% unless ev['images'].blank? %>
      <% src = ev['images'].last['image'] %>
      <%= image_tag src, size: '300' %>
    <% end %>
  </div>

  <% if i % 4 == 3 %>
    </div>
  <% end %>
<% end %>
