@import "bootstrap";
@import "libs/daterangepicker";
@import "libs/suggestions";

.container {
  padding-top: 20px;
}

h1 {
  margin-bottom: 40px;
}

.meeting_preview_image input[type="file"] {
  display: block;
  margin-top: 10px;
}
